
.daily > span {
    width:  20%;
    text-align: end;
}

.daily > div {
    margin-left: 1.5em;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.daily span {
    font-size: 0.675em;
    color: var(--textColor);
}

.daily > div{
    
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.5em;
    
}